.Link {
  text-decoration: none;
  color: inherit;
}

.SignInPrompt {
  text-decoration: none;
  color: #105deb;
  transition-duration: 0.2s;
}

.SignInPrompt:hover {
  color: #4787ff;
}

.SuccessAlert {
  width: 70vw;
  text-align: center;
  margin-top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 1;
  transition-duration: .5s;
}
