.Link {
  text-decoration: none;
  color: inherit;
}

.SignInPrompt {
  text-decoration: none;
  color: #ea9a10;
  transition-duration: 0.2s;
}

.SignInPrompt:hover {
  color: #ea9a10b7;
}

.Alert {
  width: 70vw;
  text-align: center;
  margin-top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 1;
  transition-duration: 0.5s;
}
