.PageHeader {
  margin-top: 0.5rem;
}

.Form {
  max-width: 80%;
  margin: auto;
}

.FormWrapper {
  display: flex;
  height: 90vh;
  text-align: center;
}

.FieldAlert {
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .Form {
    max-width: 65%;
  }
}

@media (min-width: 992px) {
  .Form {
    max-width: 55%;
  }
}