.PageHeader {
  margin-top: 1.5rem;
}

.FormWrapper {
  display: flex;
  height: 90vh;
  text-align: center;
  flex-direction: column;
}

.FieldAlert {
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 0;
}

.FieldsContainer {
  border: 1px solid #ffffff3a;
  border-radius: 0.5rem;
  padding: 1rem;
}

.FormImageContainer {
  flex-grow: 1;
  align-items: center;
}

.SubmitBtn {
  width: 100%;
}

.FeatureImage {
  max-width: 100%;
  border-radius: .5rem;
}