.PageHeader {
  margin-top: 1.5rem;
}

.FormWrapper {
  display: flex;
  height: 90vh;
  text-align: center;
}

.FieldAlert {
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 0;
}

.FieldsContainer {
  border: 1px solid #ffffff4f;
  border-radius: 0.5rem;
  padding: 1rem;
}

.SubmitBtn {
  width: 100%;
}
