.FollowBtn {
  margin-right: .25rem;
  border: 1px solid #2d3238;
  border-radius: .4rem;
  padding: 0 .5rem;
  background-color: #414D62;
  transition-duration: .3s;
  color: inherit;
}

.FollowBtn:hover {
  background-color: #414d62c9;
}

.UnfollowBtn {
  margin-right: .25rem;
  transition-duration: .3s;
  color: inherit;
  background-color: transparent;
  border: none;
}

.UnfollowBtn:hover {
  color: #eeebe888;
}

.Btn {
  background-color: transparent;
  border: none;
  padding: 0px;
  color: inherit;
}

.SignOutBtn {
  font-size: 160%;
  transition-duration: .3s;
  color: #e1e4e8;
}

.SignOutBtn:hover {
  color: #b0b0b0;
}