.FollowBtn {
  margin-right: .25rem;
  border: 1px solid #2d3238;
  border-radius: .4rem;
  padding: 0 .5rem;
  background-color: #5b7487;
  transition-duration: .3s;
  color: inherit;
}

.FollowBtn:hover {
  background-color: #728797;
}

.UnfollowBtn {
  margin-right: .25rem;
  transition-duration: .3s;
  color: inherit;
  background-color: transparent;
  border: none;
}

.UnfollowBtn:hover {
  color: #eeebe888;
}

.Btn {
  background-color: transparent;
  border: none;
  padding: 0px;
  color: inherit;
}