.UploadIcon {
  max-width: 30%;
}

.UploadPreview {
  max-width: 100%;
  border-radius: 4%;
}

@media (min-width: 768px) {
  .PostForm {
    max-width: 70vw;
  }
}

@media (min-width: 992px) {
  .PostForm {
    max-width: 50vw;
  }
}

@media (min-width: 1200px) {
  .PostForm {
    max-width: 40vw;
  }
}

