.NavBar {
  background-color: #1f2428;
  color: #d1d5da;
  border-bottom: 1px solid #2d3238;
  font-family: 'Montserrat', sans-serif;
}

.NavLink {
  color: #e1e4e8;
  padding: 0.5rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.NavLink:hover {
  color: #b0b0b0;
}

.NavBarBrand {
  color: #eeebe8;
  padding: 0.5rem 0 0.5rem 0;
  margin-right: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
}
