.PostsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.PostCard {
  width: 85vw;
  margin-bottom: 2rem;
  background-color: rgb(13 15 16);
  color: #eeebe8;
  border: 1px solid #ffffff1a;
  padding: 0.25rem;
}

.PostImg {
  border-radius: 0.5rem;
}

.OwnerLink {
  margin-top: 0.5rem;
  align-self: flex-start;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.PostTime {
  font-weight: 300;
  opacity: 0.6;
}

.PostStats {
  display: flex;
  justify-content: space-evenly;
}

.Likes {
  transition-duration: 0.3s;
}

.Likes:hover {
  color: #dd4e4e;
}

.Liked {
  color: #df4444;
}

.Comments {
  transition-duration: 0.3s;
}

.Comments:hover {
  color: #888888;
}

.ContentSeparator {
  color: #ffffff1a;
  opacity: 1;
}

@media (min-width: 576px) {
  .PostCard {
    width: 65vw;
  }
}

@media (min-width: 768px) {
  .PostCard {
    width: 60vw;
  }
}

@media (min-width: 992px) {
  .PostCard {
    width: 45vw;
  }
}

@media (min-width: 1200px) {
  .PostCard {
    width: 33vw;
  }
}
